<div class="modal fade" id="master-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Input your master password</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            {{input type="password" class="form-control" value=masterPassword}}
          </div>
        </form>
        {{#if errorMessage}}
          <div class="alert alert-danger">
            {{errorMessage}}
          </div>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" {{action "sendToController"}}>Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
