<div class="form-group {{if invalid 'has-error'}}" id="password-edit-field">
  <label for="password1">Password</label>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      {{input name="password1" class="form-control" value=password1}}
    </div>
    <div class="col-xs-12 col-sm-6">
      {{input name="password2" class="form-control" value=password2
              placeholder="Repeat password"}}
    </div>
  </div>
  <div id="password-strength-meter"></div>
</div>
