<input type="checkbox" checked data-toggle="switch"
       id="square-switch-{{ident}}"
       data-on-text="<span class='fui-check'></span>"
       data-off-text="<span class='fui-cross'></span>" />
