<div class="row">
  <div class="col-sm-12 hidden-xs">
    <h1>Change your Master Password</h1>
  </div>
</div>

<form>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="old-password">Old Master Password</label>
        {{input name="old-password" class="form-control"
                value=oldMasterPassword}}
      </div>
      <p>
        TODO
      </p>
    </div>
  </div>
</form>
