<div class="row">
  <div class="col-sm-12 hidden-xs">
    <h1>Your Passwords</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <p>TODO tags</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-addon">
        <i class="fui-search"></i>
      </span>
    </div>
  </div>
</div>
<div class="row">
  {{#each model key="id" as |password|}}
    <div class="col-sm-6 col-md-4 col-lg-3"><div class="tile">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="tile-title">{{password.service}}</h3>
          <p>Account: "{{password.account}}"</p>
        </div>
        <div class="col-xs-3 text-right">
          {{#link-to 'passwords.edit' password class="btn btn-info" title="Edit"}}
            <span class="fui-gear"></span>
          {{/link-to}}
        </div>
      </div>
      {{password-viewer-countdown password=password action="decipher"}}
    </div></div>
  {{/each}}
</div>

{{ask-master-password action="sendMasterPassword" flag=controller.requestMasterPassword}}
