<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to Yith Library</h1>

    <p>
      Secure service to store your passwords ciphered under a master password.
    </p>

    {{#link-to 'authorize' class='btn btn-primary'}}Enter{{/link-to}}

    <img src="assets/images/yithian.png" class="img-responsive" alt="Yith Library mascot" />

    <blockquote>
      <p>couldn't live a week without a private library.</p>
      <footer>H. P. Lovecraft</footer>
    </blockquote>
  </div>
</div>
