<h1>Welcome to Yith Library</h1>

<p>
  Secure service to store your passwords ciphered under a master password.
</p>

<button class="btn btn-primary" type="button" name="enter" {{action 'authorize'}}>Enter</button>

<img src="assets/images/yithian.png" class="img-responsive" alt="Yith Library mascot" />
