<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to Yith Library</h1>
    <p>
      Secure service to store your passwords ciphered under a master password.
    </p>
    <p class="text-center">
      {{#link-to 'authorize' class='btn btn-primary btn-lg'}}Enter{{/link-to}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img src="assets/images/yithian.png" class="img-responsive" alt="Yith Library mascot" />
  </div>
  <div class="col-sm-6" id="quote">
    <blockquote>
      <p>I couldn't live a week without a private library.</p>
      <footer>H. P. Lovecraft</footer>
    </blockquote>
  </div>
</div>
